/* Makurai Healer Theme */

:root {
  --vimium-orange: #D94C0E;
  --vimium-yellow: #8D6E15;
  --vimium-green: #2B7F3A;
  --vimium-text: #0A0A0A;
  --vimium-surface2: #ECECEC;
  --vimium-background: #F5F5F5;
  --vimium-comment: #5C6773;
  --vimium-line: #9CA3AF;
}

#vomnibar,
#vomnibar input,
#vomnibar .vomnibarSearchArea,
#vomnibar ul {
  background-color: var(--vimium-background);
  border: none;
}

#vomnibar {
  border: 1px solid var(--vimium-line);
  padding: 1px;
  border-radius: 8px;
}

#vomnibar li.vomnibarSelected {
  background-color: var(--vimium-line);
}

#vomnibar li .vomnibarSource {
  color: var(--vimium-orange);
}

#vomnibar li .vomnibarUrl {
  color: var(--vimium-text);
}

#vomnibar li .vomnibarTitle {
  color: var(--vimium-green);
  font-weight: bold;
}

#vomnibar li .vomnibarMatch,
#vomnibar li .vomnibarTitle .vomnibarMatch {
  color: var(--vimium-green);
}

#vomnibar ul {
  padding: 0;
  margin: 0;
  border-top: 1px solid var(--vimium-line);
}

div#vimiumHelpDialog {
  background-color: var(--vimium-background);
  border: 1px solid var(--vimium-line);
}

span.vimiumHelpDialogKey {
  background-color: var(--vimium-surface2);
}

div#vimiumHelpDialogContainer {
  border: 1px solid var(--vimium-line);
}

div#vimiumHelpDialog a,
#vimiumTitle > span:first-child {
  color: var(--vimium-green) !important;
}