/* Makurai Theme for Vimium (browser extension) */

:root {
  --vimium-orange: #FF7733;
  --vimium-yellow: #FFEE99;
  --vimium-green: #95FB79;
  --vimium-text: #ffffff;
  --vimium-surface2: #1e2029;
  --vimium-background: #15161b;
  --vimium-comment: #5C6773;
  --vimium-line: #25282e;
}

#vomnibar input,
#vomnibar .vomnibarSearchArea,
#vomnibar,
#vomnibar ul {
  background-color: var(--vimium-background);
  box-shadow: none;
  border: none;
}

#vomnibar {
  border: 1px solid var(--vimium-line);
  padding: 1px;
  border-radius: 8px;
}

#vomnibar li.vomnibarSelected {
  background-color: var(--vimium-line);
}

#vomnibar li .vomnibarSource {
  color: var(--vimium-orange);
}

#vomnibar li .vomnibarUrl {
  color: var(--vimium-text);
}

#vomnibar li .vomnibarTitle {
  color: var(--vimium-green);
  font-weight: bold;
}

#vomnibar li .vomnibarMatch,
#vomnibar li .vomnibarTitle .vomnibarMatch {
  color: var(--vimium-green);
}

#vomnibar ul {
  padding: 0;
  margin: 0;
  border-top: 1px solid var(--vimium-line);
}

div#vimiumHelpDialog {
  background-color: var(--vimium-background);
  border: 1px solid var(--vimium-line);
}

span.vimiumHelpDialogKey {
  background-color: var(--vimium-surface2);
}

div#vimiumHelpDialogContainer {
  border: 1px solid var(--vimium-line);
}

div#vimiumHelpDialog a,
#vimiumTitle>span:first-child {
  color: var(--vimium-green) !important;
}
