:root {
  --vimium-orange: #D6008F;
  --vimium-yellow: #FF7D00;
  --vimium-green: #008F11;
  --vimium-text: #000000;
  --vimium-surface2: #FFFFFF;
  --vimium-background: #F0F0F0;
  --vimium-comment: #a0a1a7;
  --vimium-line: #D1D5DB;
}

#vomnibar,
#vomnibar input,
#vomnibar .vomnibarSearchArea,
#vomnibar ul {
  background-color: var(--vimium-background);
  border: none;
}

#vomnibar {
  border: 1px solid var(--vimium-line);
  padding: 1px;
  border-radius: 8px;
}

#vomnibar li.vomnibarSelected {
  background-color: var(--vimium-line);
}

#vomnibar li .vomnibarSource {
  color: var(--vimium-orange);
}

#vomnibar li .vomnibarUrl {
  color: var(--vimium-text);
}

#vomnibar li .vomnibarTitle {
  color: var(--vimium-green);
  font-weight: bold;
}

#vomnibar li .vomnibarMatch,
#vomnibar li .vomnibarTitle .vomnibarMatch {
  color: var(--vimium-green);
}

#vomnibar ul {
  padding: 0;
  margin: 0;
  border-top: 1px solid var(--vimium-line);
}

div#vimiumHelpDialog {
  background-color: var(--vimium-background);
  border: 1px solid var(--vimium-line);
}

span.vimiumHelpDialogKey {
  background-color: var(--vimium-surface2);
}

div#vimiumHelpDialogContainer {
  border: 1px solid var(--vimium-line);
}

div#vimiumHelpDialog a,
#vimiumTitle > span:first-child {
  color: var(--vimium-green) !important;
}