# Default colors
[colors.primary]
background = '{{ colors.editor.background }}'
foreground = '{{ colors.syntax.foreground }}'

# Normal colors
[colors.normal]
black = '#000000'
red = '{{ colors.other.error }}'
green = '{{ colors.syntax.string }}'
yellow = '{{ colors.syntax.function }}'
blue = '{{ colors.syntax.type }}'
magenta = '{{ colors.syntax.constant }}'
cyan = '{{ colors.syntax.type }}'
white = '{{ colors.syntax.foreground }}'

# Bright colors
[colors.bright]
black = '#000000'
red = '{{ colors.other.error }}'
green = '{{ colors.syntax.string }}'
yellow = '{{ colors.syntax.function }}'
blue = '{{ colors.syntax.type }}'
magenta = '{{ colors.syntax.constant }}'
cyan = '{{ colors.syntax.type }}'
white = '{{ colors.syntax.foreground }}'

[cursor]
text = '#000000'
cursor = '{{ colors.other.cursor }}'
