# Makurai {{ name }} Theme
# Default colors
[colors.primary]
background = '{{ colors.editor.bg }}'
foreground = '{{ colors.syntax.foreground.normal }}'

# Normal colors
[colors.normal]
black = '{{ colors.syntax.comment.normal }}'
red = '{{ colors.syntax.error.normal }}'
green = '{{ colors.syntax.string.normal }}'
yellow = '{{ colors.syntax.function.normal }}'
blue = '{{ colors.syntax.type.normal }}'
magenta = '{{ colors.syntax.constant.normal }}'
cyan = '{{ colors.syntax.type.normal }}'
white = '{{ colors.syntax.foreground.normal }}'

# Bright colors
[colors.bright]
black = '{{ colors.syntax.comment.bright }}'
red = '{{ colors.syntax.error.bright }}'
green = '{{ colors.syntax.string.bright }}'
yellow = '{{ colors.syntax.function.bright }}'
blue = '{{ colors.syntax.type.bright }}'
magenta = '{{ colors.syntax.special.bright }}'
cyan = '{{ colors.syntax.type.bright }}'
white = '{{ colors.syntax.foreground.bright }}'

# Dim colors
[colors.dim]
black = '{{ colors.syntax.comment.dim }}'
red = '{{ colors.syntax.error.dim }}'
green = '{{ colors.syntax.string.dim }}'
yellow = '{{ colors.syntax.function.dim }}'
blue = '{{ colors.syntax.type.dim }}'
magenta = '{{ colors.syntax.special.dim }}'
cyan = '{{ colors.syntax.type.dim }}'
white = '{{ colors.syntax.foreground.dim }}'

[colors.cursor]
text = '#000000'
cursor = '{{ colors.other.cursor }}'
