# Default colors
[colors.primary]
background = '{{ palette.colors.editor.background }}'
foreground = '{{ palette.colors.syntax.foreground }}'

# Normal colors
[colors.normal]
black = '#000000'
red = '{{ palette.colors.other.error }}'
green = '{{ palette.colors.syntax.string }}'
yellow = '{{ palette.colors.syntax.function }}'
blue = '{{ palette.colors.syntax.type }}'
magenta = '{{ palette.colors.syntax.constant }}'
cyan = '{{ palette.colors.syntax.type }}'
white = '{{ palette.colors.syntax.foreground }}'

# Bright colors
[colors.bright]
black = '#000000'
red = '{{ palette.colors.other.error }}'
green = '{{ palette.colors.syntax.string }}'
yellow = '{{ palette.colors.syntax.function }}'
blue = '{{ palette.colors.syntax.type }}'
magenta = '{{ palette.colors.syntax.constant }}'
cyan = '{{ palette.colors.syntax.type }}'
white = '{{ palette.colors.syntax.foreground }}'

[cursor]
text: 'black'
cursor: '{{ palette.colors.other.cursor }}'
