export FZF_DEFAULT_OPTS="
--color=fg:{{ colors.ansi.white.dim }},hl:{{ colors.ansi.green.normal }}
--color=fg+:{{ colors.other.on_selection }},bg+:{{ colors.other.cursor_line }},hl+:{{ colors.ansi.green.normal }}
--color=info:{{ colors.ansi.cyan.normal }},prompt:{{ colors.ansi.blue.normal }},pointer:{{ colors.other.cursor }}
--color=marker:{{ colors.ansi.magenta.normal }},spinner:{{ colors.ansi.yellow.normal }},header:{{ colors.ansi.black.normal }}
--color=border:{{ colors.other.cursor_line }},label:{{ colors.ansi.blue.normal }},query:{{ colors.ansi.white.normal }}
--color=disabled:{{ colors.ansi.black.normal }},preview-fg:{{ colors.ansi.white.normal }}
--border=rounded
--height=60%
--layout=reverse
--info=inline
--margin=1
--padding=1"
