# Makurai {{ name }} Theme
background = {{ colors.editor.bg }}
foreground = {{ colors.ansi.white.normal }}
selection-foreground = {{ colors.other.on_selection }}
selection-background = {{ colors.other.selection }}
cursor-color = {{ colors.other.cursor }}
palette = 0={{ colors.ansi.black.normal }}
palette = 1={{ colors.ansi.red.normal }}
palette = 2={{ colors.ansi.green.normal }}
palette = 3={{ colors.ansi.yellow.normal }}
palette = 4={{ colors.ansi.blue.normal }}
palette = 5={{ colors.ansi.magenta.normal }}
palette = 6={{ colors.ansi.cyan.normal }}
palette = 7={{ colors.ansi.white.normal }}
palette = 8={{ colors.ansi.black.bright }}
palette = 9={{ colors.ansi.red.bright }}
palette = 10={{ colors.ansi.green.bright }}
palette = 11={{ colors.ansi.yellow.bright }}
palette = 12={{ colors.ansi.blue.bright }}
palette = 13={{ colors.ansi.magenta.bright }}
palette = 14={{ colors.ansi.cyan.bright }}
palette = 15={{ colors.ansi.white.bright }}
