# Makurai {{ name }} Theme
color0  {{ colors.ansi.black.normal }}
color1  {{ colors.ansi.red.normal }}
color2  {{ colors.ansi.green.normal }}
color3  {{ colors.ansi.yellow.normal }}
color4  {{ colors.ansi.blue.normal }}
color5  {{ colors.ansi.magenta.normal }}
color6  {{ colors.ansi.cyan.normal }}
color7  {{ colors.ansi.white.normal }}
color8  {{ colors.ansi.black.bright }}
color9  {{ colors.ansi.red.bright }}
color10 {{ colors.ansi.green.bright }}
color11 {{ colors.ansi.yellow.bright }}
color12 {{ colors.ansi.blue.bright }}
color13 {{ colors.ansi.magenta.bright }}
color14 {{ colors.ansi.cyan.bright }}
color15 {{ colors.ansi.white.bright }}
background {{ colors.editor.bg }}
foreground {{ colors.ansi.white.normal }}
cursor {{ colors.other.cursor }}
selection_background {{ colors.other.selection }}
selection_foreground {{ colors.other.on_selection }}
