# Makurai {{ name }} Theme
color0  {{ colors.syntax.comment.normal }}
color1  {{ colors.syntax.error.normal }}
color2  {{ colors.syntax.string.normal }}
color3  {{ colors.syntax.function.normal }}
color4  {{ colors.syntax.type.normal }}
color5  {{ colors.syntax.constant.normal}}
color6  {{ colors.syntax.type.normal }}
color7  {{ colors.syntax.foreground.normal }}
color8  {{ colors.syntax.comment.bright }}
color9  {{ colors.syntax.error.bright }}
color10 {{ colors.syntax.string.bright }}
color11 {{ colors.syntax.function.bright }}
color12 {{ colors.syntax.type.bright }}
color13 {{ colors.syntax.special.bright }}
color14 {{ colors.syntax.type.bright }}
color15 {{ colors.syntax.foreground.bright }}
background {{ colors.editor.bg }}
foreground {{ colors.syntax.foreground.normal }}
cursor {{ colors.other.cursor }}
selection_background {{ colors.other.selection }}
selection_foreground {{ colors.other.on_selection }}
