# Makurai {{ name }} Theme
color0  #000000
color1  {{ colors.other.error }}
color2  {{ colors.syntax.string }}
color3  {{ colors.syntax.function }}
color4  {{ colors.syntax.type }}
color5  {{ colors.syntax.special}}
color6  {{ colors.syntax.type }}
color7  {{ colors.syntax.foreground }}
color8  {{ colors.syntax.comment }}
color9  {{ colors.other.error }}
color10 {{ colors.syntax.string }}
color11 {{ colors.syntax.function }}
color12 {{ colors.syntax.type }}
color13 {{ colors.syntax.special }}
color14 {{ colors.syntax.constant }}
color15 {{ colors.syntax.foreground }}
background {{ colors.editor.bg }}
foreground {{ colors.syntax.foreground }}
cursor {{ colors.other.cursor }}
selection_background {{ colors.other.selection }}
selection_foreground {{ colors.other.on_selection }}
