# Makurai {{ name }} Theme

## Syntax Colors
| Name      | Preview | Color          |
|-----------|---------|----------------|
| Keyword   | ![keyword](../dogs/{{ name.lower() }}/keyword.png) | `{{ colors.syntax.keyword }}` |
| Function  | ![function](../dogs/{{ name.lower() }}/function.png) | `{{ colors.syntax.function }}` |
| String    | ![string](../dogs/{{ name.lower() }}/string.png) | `{{ colors.syntax.string }}` |
| Type      | ![type](../dogs/{{ name.lower() }}/type.png) | `{{ colors.syntax.type }}` |
| Constant  | ![constant](../dogs/{{ name.lower() }}/constant.png) | `{{ colors.syntax.constant }}` |
| Comment   | ![comment](../dogs/{{ name.lower() }}/comment.png) | `{{ colors.syntax.comment }}` |
| Foreground| ![foreground](../dogs/{{ name.lower() }}/foreground.png) | `{{ colors.syntax.foreground }}` |

## UI Colors
| Name          | Preview | Color           |
|---------------|---------|-----------------|
| Background    | ![bg](../dogs/{{ name.lower() }}/bg.png) | `{{ colors.editor.bg }}` |
| Surface       | ![surface](../dogs/{{ name.lower() }}/surface.png) | `{{ colors.editor.surface }}` |
| Background 2  | ![bg_alt](../dogs/{{ name.lower() }}/bg_alt.png) | `{{ colors.editor.bg_alt }}` |
| Surface 2     | ![surface_alt](../dogs/{{ name.lower() }}/surface_alt.png) | `{{ colors.editor.surface_alt }}` |
| Border        | ![border](../dogs/{{ name.lower() }}/border.png) | `{{ colors.editor.border }}` |

## Other
| Name         | Preview | Color           |
|--------------|---------|-----------------|
| Line Number  | ![line_nr](../dogs/{{ name.lower() }}/line_nr.png) | `{{ colors.other.line_nr }}` |
| Cursor Line  | ![cursor_line](../dogs/{{ name.lower() }}/cursor_line.png) | `{{ colors.other.cursor_line }}` |
| Selection    | ![selection](../dogs/{{ name.lower() }}/selection.png) | `{{ colors.other.selection }}` |
| On_Selection | ![on_selection](../dogs/{{ name.lower() }}/on_selection.png) | `{{ colors.other.on_selection }}` |
| Error        | ![error](../dogs/{{ name.lower() }}/error.png) | `{{ colors.other.error }}` |
| Cursor       | ![cursor](../dogs/{{ name.lower() }}/cursor.png) | `{{ colors.other.cursor }}` |
