# Makurai {{ name }} Theme

<div align=center>

![Theme Preview](../../dogs/{{ name.lower() }}/thumbnail.png)
</div>

## Syntax Colors
| Name      | Color          | |
|-----------|----------------|-|
| Keyword   | `{{ colors.syntax.keyword }}` | ![keyword](../../dogs/{{ name.lower() }}/keyword.png) |
| Function  | `{{ colors.syntax.function }}` | ![function](../../dogs/{{ name.lower() }}/function.png) |
| String    | `{{ colors.syntax.string }}` | ![string](../../dogs/{{ name.lower() }}/string.png) |
| Type      | `{{ colors.syntax.type }}` | ![type](../../dogs/{{ name.lower() }}/type.png) |
| Constant  | `{{ colors.syntax.constant }}` | ![constant](../../dogs/{{ name.lower() }}/constant.png) |
| Comment   | `{{ colors.syntax.comment }}` | ![comment](../../dogs/{{ name.lower() }}/comment.png) |
| Foreground| `{{ colors.syntax.foreground }}` | ![foreground](../../dogs/{{ name.lower() }}/foreground.png) |

## UI Colors
| Name          | Color           | |
|---------------|-----------------|-|
| Background    | `{{ colors.editor.bg }}` | ![bg](../../dogs/{{ name.lower() }}/bg.png) |
| Surface       | `{{ colors.editor.surface }}` | ![surface](../../dogs/{{ name.lower() }}/surface.png) |
| Background 2  | `{{ colors.editor.bg_alt }}` | ![bg_alt](../../dogs/{{ name.lower() }}/bg_alt.png) |
| Surface 2     | `{{ colors.editor.surface_alt }}` | ![surface_alt](../../dogs/{{ name.lower() }}/surface_alt.png) |
| Border        | `{{ colors.editor.border }}` | ![border](../../dogs/{{ name.lower() }}/border.png) |

## Other
| Name         | Color           | |
|--------------|-----------------|-|
| Line Number  | `{{ colors.other.line_nr }}` | ![line_nr](../../dogs/{{ name.lower() }}/line_nr.png) |
| Cursor Line  | `{{ colors.other.cursor_line }}` | ![cursor_line](../../dogs/{{ name.lower() }}/cursor_line.png) |
| Selection    | `{{ colors.other.selection }}` | ![selection](../../dogs/{{ name.lower() }}/selection.png) |
| On_Selection | `{{ colors.other.on_selection }}` | ![on_selection](../../dogs/{{ name.lower() }}/on_selection.png) |
| Error        | `{{ colors.other.error }}` | ![error](../../dogs/{{ name.lower() }}/error.png) |
| Cursor       | `{{ colors.other.cursor }}` | ![cursor](../../dogs/{{ name.lower() }}/cursor.png) |
