# Makurai {{ name }} Theme

<div align=center>

![Theme Preview](../../dogs/{{ name.lower() }}/thumbnail.png)
</div>

## Syntax Colors
| Name      | Color          | |
|-----------|----------------|-|
| Keyword   | `{{ colors.syntax.keyword }}` | ![keyword](../../dogs/{{ name.lower() }}/keyword.png) |
| Function  | `{{ colors.syntax.function }}` | ![function](../../dogs/{{ name.lower() }}/function.png) |
| String    | `{{ colors.syntax.string }}` | ![string](../../dogs/{{ name.lower() }}/string.png) |
| Type      | `{{ colors.syntax.type }}` | ![type](../../dogs/{{ name.lower() }}/type.png) |
| Constant  | `{{ colors.syntax.constant }}` | ![constant](../../dogs/{{ name.lower() }}/constant.png) |
| Comment   | `{{ colors.syntax.comment }}` | ![comment](../../dogs/{{ name.lower() }}/comment.png) |
| Foreground| `{{ colors.syntax.foreground }}` | ![foreground](../../dogs/{{ name.lower() }}/foreground.png) |
| Error     | `{{ colors.syntax.error }}` | ![error](../../dogs/{{ name.lower() }}/error.png) |

## ANSI Colors
| Name    | Color                              |                                                       |
| ------- | ---------------------------------- | ----------------------------------------------------- |
| Black   | `{{ colors.ansi.black.normal }}`   | ![black](../../dogs/{{ name.lower() }}/black.png)     |
| Red     | `{{ colors.ansi.red.normal }}`     | ![red](../../dogs/{{ name.lower() }}/red.png)         |
| Green   | `{{ colors.ansi.green.normal }}`   | ![green](../../dogs/{{ name.lower() }}/green.png)     |
| Yellow  | `{{ colors.ansi.yellow.normal }}`  | ![yellow](../../dogs/{{ name.lower() }}/yellow.png)   |
| Blue    | `{{ colors.ansi.blue.normal }}`    | ![blue](../../dogs/{{ name.lower() }}/blue.png)       |
| Magenta | `{{ colors.ansi.magenta.normal }}` | ![magenta](../../dogs/{{ name.lower() }}/magenta.png) |
| Cyan    | `{{ colors.ansi.cyan.normal }}`    | ![cyan](../../dogs/{{ name.lower() }}/cyan.png)       |
| White   | `{{ colors.ansi.white.normal }}`   | ![white](../../dogs/{{ name.lower() }}/white.png)     |

## UI Colors
| Name          | Color           | |
|---------------|-----------------|-|
| Background    | `{{ colors.editor.bg }}` | ![bg](../../dogs/{{ name.lower() }}/bg.png) |
| Surface       | `{{ colors.editor.surface }}` | ![surface](../../dogs/{{ name.lower() }}/surface.png) |
| Border        | `{{ colors.editor.border }}` | ![border](../../dogs/{{ name.lower() }}/border.png) |

## Other
| Name         | Color           | |
|--------------|-----------------|-|
| Line Number  | `{{ colors.other.line_nr }}` | ![line_nr](../../dogs/{{ name.lower() }}/line_nr.png) |
| Cursor Line  | `{{ colors.other.cursor_line }}` | ![cursor_line](../../dogs/{{ name.lower() }}/cursor_line.png) |
| Selection    | `{{ colors.other.selection }}` | ![selection](../../dogs/{{ name.lower() }}/selection.png) |
| On_Selection | `{{ colors.other.on_selection }}` | ![on_selection](../../dogs/{{ name.lower() }}/on_selection.png) |
| Cursor       | `{{ colors.other.cursor }}` | ![cursor](../../dogs/{{ name.lower() }}/cursor.png) |
