# Makurai {{ name }} Theme for Rio Terminal

[colors]
# Background and foreground
background = '{{ colors.editor.bg }}'
foreground = '{{ colors.syntax.foreground.normal }}'

# Cursor colors
cursor = '{{ colors.other.cursor }}'
cursor-foreground = '#000000'

# Selection colors
selection-background = '{{ colors.other.selection }}'
selection-foreground = '{{ colors.other.on_selection }}'

# Normal colors (0-7)
black = '{{ colors.syntax.comment.normal }}'
red = '{{ colors.syntax.error.normal }}'
green = '{{ colors.syntax.string.normal }}'
yellow = '{{ colors.syntax.function.normal }}'
blue = '{{ colors.syntax.type.normal }}'
magenta = '{{ colors.syntax.constant.normal }}'
cyan = '{{ colors.syntax.type.normal }}'
white = '{{ colors.syntax.foreground.normal }}'

# Bright colors (8-15)
bright-black = '{{ colors.syntax.comment.bright }}'
bright-red = '{{ colors.syntax.error.bright }}'
bright-green = '{{ colors.syntax.string.bright }}'
bright-yellow = '{{ colors.syntax.function.bright }}'
bright-blue = '{{ colors.syntax.type.bright }}'
bright-magenta = '{{ colors.syntax.special.bright }}'
bright-cyan = '{{ colors.syntax.type.bright }}'
bright-white = '{{ colors.syntax.foreground.bright }}'

# Dim colors
dim-black = '{{ colors.syntax.comment.dim }}'
dim-red = '{{ colors.syntax.error.dim }}'
dim-green = '{{ colors.syntax.string.dim }}'
dim-yellow = '{{ colors.syntax.function.dim }}'
dim-blue = '{{ colors.syntax.type.dim }}'
dim-magenta = '{{ colors.syntax.special.dim }}'
dim-cyan = '{{ colors.syntax.type.dim }}'
dim-white = '{{ colors.syntax.foreground.dim }}'
