# Makurai {{ name }} Theme for Rio Terminal

[colors]
# Background and foreground
background = '{{ colors.editor.bg }}'
foreground = '{{ colors.ansi.white.normal }}'

# Cursor colors
cursor = '{{ colors.other.cursor }}'
cursor-foreground = '#000000'

# Selection colors
selection-background = '{{ colors.other.selection }}'
selection-foreground = '{{ colors.other.on_selection }}'

# Normal colors (0-7)
black = '{{ colors.ansi.black.normal }}'
red = '{{ colors.ansi.red.normal }}'
green = '{{ colors.ansi.green.normal }}'
yellow = '{{ colors.ansi.yellow.normal }}'
blue = '{{ colors.ansi.blue.normal }}'
magenta = '{{ colors.ansi.magenta.normal }}'
cyan = '{{ colors.ansi.cyan.normal }}'
white = '{{ colors.ansi.white.normal }}'

# Bright colors (8-15)
bright-black = '{{ colors.ansi.black.bright }}'
bright-red = '{{ colors.ansi.red.bright }}'
bright-green = '{{ colors.ansi.green.bright }}'
bright-yellow = '{{ colors.ansi.yellow.bright }}'
bright-blue = '{{ colors.ansi.blue.bright }}'
bright-magenta = '{{ colors.ansi.magenta.bright }}'
bright-cyan = '{{ colors.ansi.cyan.bright }}'
bright-white = '{{ colors.ansi.white.bright }}'

# Dim colors
dim-black = '{{ colors.ansi.black.dim }}'
dim-red = '{{ colors.ansi.red.dim }}'
dim-green = '{{ colors.ansi.green.dim }}'
dim-yellow = '{{ colors.ansi.yellow.dim }}'
dim-blue = '{{ colors.ansi.blue.dim }}'
dim-magenta = '{{ colors.ansi.magenta.dim }}'
dim-cyan = '{{ colors.ansi.cyan.dim }}'
dim-white = '{{ colors.ansi.white.dim }}'
