# Makurai {{ name }} Theme 
name: makurai-{{ name }}
accent: {{ colors.ansi.blue.normal }}
cursor: {{ colors.other.cursor }}
background: {{ colors.editor.bg }}
foreground: {{ colors.ansi.white.normal }}
details: darker
terminal_colors:
  bright:
    black: {{ colors.ansi.black.bright }}
    red: {{ colors.ansi.red.bright }}
    green: {{ colors.ansi.green.bright }}
    yellow: {{ colors.ansi.yellow.bright }}
    blue: {{ colors.ansi.blue.bright }}
    magenta: {{ colors.ansi.magenta.bright }}
    cyan: {{ colors.ansi.cyan.bright }}
    white: {{ colors.ansi.white.bright }}
  normal:
    black: {{ colors.ansi.black.normal }}
    red: {{ colors.ansi.red.normal }}
    green: {{ colors.ansi.green.normal }}
    yellow: {{ colors.ansi.yellow.normal }}
    blue: {{ colors.ansi.blue.normal }}
    magenta: {{ colors.ansi.magenta.normal }}
    cyan: {{ colors.ansi.cyan.normal }}
    white: {{ colors.ansi.white.normal }}
