# Makurai {{ name }} Theme 
name: makurai-{{ name }}
accent: {{ colors.syntax.type }}
cursor: {{ colors.other.cursor }}
background: {{ colors.editor.bg }}
foreground: {{ colors.syntax.foreground }}
details: darker
terminal_colors:
  bright:
    black: '#000000'
    red: {{ colors.other.error }}
    green: {{ colors.syntax.string }}
    yellow: {{ colors.syntax.function }}
    blue: {{ colors.syntax.type }}
    magenta: {{ colors.syntax.constant }}
    cyan: {{ colors.syntax.type }}
    white: {{ colors.syntax.foreground }}
  normal:
    black: {{ colors.syntax.comment }}
    red: {{ colors.other.error }}
    green: {{ colors.syntax.string }}
    yellow: {{ colors.syntax.function }}
    blue: {{ colors.syntax.type }}
    magenta: {{ colors.syntax.special }}
    cyan: {{ colors.syntax.type }}
    white: {{ colors.syntax.foreground }}
