-- Makurai {{ name }} Theme 
local wezterm = require 'wezterm'
local config = wezterm.config_builder()

config.colors = {
  foreground = {{ colors.syntax.foreground | tojson }},
  background = {{ colors.editor.bg | tojson }},
  cursor_bg = {{ colors.other.cursor | tojson }},
  cursor_fg = {{ colors.editor.bg | tojson }},
  selection_bg = {{ colors.other.selection | tojson }},
  split = {{ colors.editor.border | tojson }},
  ansi = {
    '#000000',
    {{ colors.other.error | tojson }},
    {{ colors.syntax.string | tojson }},
    {{ colors.syntax.function | tojson }},
    {{ colors.syntax.type | tojson }},
    {{ colors.syntax.constant | tojson }},
    {{ colors.syntax.type | tojson }},
    {{ colors.syntax.foreground | tojson }},
  },
  brights = {
    {{ colors.syntax.comment }},
    {{ colors.other.error | tojson }},
    {{ colors.syntax.string | tojson }},
    {{ colors.syntax.function | tojson }},
    {{ colors.syntax.type | tojson }},
    {{ colors.syntax.special | tojson }},
    {{ colors.syntax.type | tojson }},
    {{ colors.syntax.foreground | tojson }},
  },
  tab_bar = {
    background = {{ colors.editor.bg | tojson }},
    active_tab = {
      bg_color = {{ colors.editor.surface_alt | tojson }},
      fg_color = {{ colors.syntax.foreground | tojson }},
    },
    inactive_tab = {
      bg_color = {{ colors.editor.bg | tojson }},
      fg_color = {{ colors.syntax.comment | tojson }},
    },
    inactive_tab_hover = {
      bg_color = {{ colors.editor.bg_alt | tojson }},
      fg_color = {{ colors.syntax.foreground | tojson }},
    },
    new_tab = {
      bg_color = {{ colors.editor.bg | tojson }},
      fg_color = {{ colors.syntax.comment | tojson }},
    },
    new_tab_hover = {
      bg_color = {{ colors.other.line_nr | tojson }},
      fg_color = {{ colors.syntax.foreground | tojson }},
    },
  },
}

config.use_fancy_tab_bar = false
