-- Makurai {{ name }} Theme 
local wezterm = require 'wezterm'
local config = wezterm.config_builder()

config.colors = {
  foreground = {{ colors.ansi.white.normal | tojson }},
  background = {{ colors.editor.bg | tojson }},
  cursor_bg = {{ colors.other.cursor | tojson }},
  cursor_fg = {{ colors.editor.bg | tojson }},
  selection_bg = {{ colors.other.selection | tojson }},
  split = {{ colors.editor.border | tojson }},
  ansi = {
    {{ colors.ansi.black.normal | tojson }},
    {{ colors.ansi.red.normal | tojson }},
    {{ colors.ansi.green.normal | tojson }},
    {{ colors.ansi.yellow.normal | tojson }},
    {{ colors.ansi.blue.normal | tojson }},
    {{ colors.ansi.magenta.normal | tojson }},
    {{ colors.ansi.cyan.normal | tojson }},
    {{ colors.ansi.white.normal | tojson }},
  },
  brights = {
    {{ colors.ansi.black.bright | tojson }},
    {{ colors.ansi.red.bright | tojson }},
    {{ colors.ansi.green.bright | tojson }},
    {{ colors.ansi.yellow.bright | tojson }},
    {{ colors.ansi.blue.bright | tojson }},
    {{ colors.ansi.magenta.bright | tojson }},
    {{ colors.ansi.cyan.bright | tojson }},
    {{ colors.ansi.white.bright | tojson }},
  },
  tab_bar = {
    background = {{ colors.editor.bg | tojson }},
    active_tab = {
      bg_color = {{ colors.editor.surface_alt | tojson }},
      fg_color = {{ colors.ansi.white.normal | tojson }},
    },
    inactive_tab = {
      bg_color = {{ colors.editor.bg | tojson }},
      fg_color = {{ colors.ansi.black.normal | tojson }},
    },
    inactive_tab_hover = {
      bg_color = {{ colors.editor.bg_alt | tojson }},
      fg_color = {{ colors.ansi.white.normal | tojson }},
    },
    new_tab = {
      bg_color = {{ colors.editor.bg | tojson }},
      fg_color = {{ colors.ansi.black.normal | tojson }},
    },
    new_tab_hover = {
      bg_color = {{ colors.other.line_nr | tojson }},
      fg_color = {{ colors.ansi.white.normal | tojson }},
    },
  },
}

config.use_fancy_tab_bar = false
