{
  "name": "Makurai {{ name }}",
  "background": {{ colors.editor.bg | tojson }},
  "foreground": {{ colors.syntax.foreground.normal | tojson }},
  "black": "#000000",
  "red": {{ colors.syntax.error.normal | tojson }},
  "green": {{ colors.syntax.string.normal | tojson }},
  "yellow": {{ colors.syntax.function.normal | tojson }},
  "blue": {{ colors.syntax.type.normal | tojson }},
  "purple": {{ colors.syntax.constant.normal | tojson }},
  "cyan": {{ colors.syntax.type.normal | tojson }},
  "white": {{ colors.syntax.foreground.normal | tojson }},
  "brightBlack": {{ colors.syntax.comment.bright | tojson }},
  "brightRed": {{ colors.syntax.error.bright | tojson }},
  "brightGreen": {{ colors.syntax.string.bright | tojson }},
  "brightYellow": {{ colors.syntax.function.bright | tojson }},
  "brightBlue": {{ colors.syntax.type.bright | tojson }},
  "brightPurple": {{ colors.syntax.special.bright | tojson }},
  "brightCyan": {{ colors.syntax.type.bright | tojson }},
  "brightWhite": {{ colors.syntax.foreground.bright | tojson }},
  "cursorColor": {{ colors.other.cursor | tojson }},
  "selectionBackground": {{ colors.other.selection | tojson }}
}
