{
  "name": "Makurai {{ name }}",
  "background": {{ colors.editor.bg | tojson }},
  "foreground": {{ colors.syntax.foreground | tojson }},
  "black": "#000000",
  "red": {{ colors.other.error | tojson }},
  "green": {{ colors.syntax.string | tojson }},
  "yellow": {{ colors.syntax.function | tojson }},
  "blue": {{ colors.syntax.type | tojson }},
  "purple": {{ colors.syntax.constant | tojson }},
  "cyan": {{ colors.syntax.type | tojson }},
  "white": {{ colors.syntax.foreground | tojson }},
  "brightBlack": {{ colors.syntax.comment | tojson }},
  "brightRed": {{ colors.other.error | tojson }},
  "brightGreen": {{ colors.syntax.string | tojson }},
  "brightYellow": {{ colors.syntax.function | tojson }},
  "brightBlue": {{ colors.syntax.type | tojson }},
  "brightPurple": {{ colors.syntax.constant | tojson }},
  "brightCyan": {{ colors.syntax.type | tojson }},
  "brightWhite": {{ colors.syntax.foreground | tojson }},
  "cursorColor": {{ colors.other.cursor | tojson }},
  "selectionBackground": {{ colors.other.selection | tojson }}
}
