{
  "name": "Makurai {{ name }}",
  "background": {{ colors.editor.bg | tojson }},
  "foreground": {{ colors.ansi.white.normal | tojson }},
  "black": {{ colors.ansi.black.normal | tojson }},
  "red": {{ colors.ansi.red.normal | tojson }},
  "green": {{ colors.ansi.green.normal | tojson }},
  "yellow": {{ colors.ansi.yellow.normal | tojson }},
  "blue": {{ colors.ansi.blue.normal | tojson }},
  "purple": {{ colors.ansi.magenta.normal | tojson }},
  "cyan": {{ colors.ansi.cyan.normal | tojson }},
  "white": {{ colors.ansi.white.normal | tojson }},
  "brightBlack": {{ colors.ansi.black.bright | tojson }},
  "brightRed": {{ colors.ansi.red.bright | tojson }},
  "brightGreen": {{ colors.ansi.green.bright | tojson }},
  "brightYellow": {{ colors.ansi.yellow.bright | tojson }},
  "brightBlue": {{ colors.ansi.blue.bright | tojson }},
  "brightPurple": {{ colors.ansi.magenta.bright | tojson }},
  "brightCyan": {{ colors.ansi.cyan.bright | tojson }},
  "brightWhite": {{ colors.ansi.white.bright | tojson }},
  "cursorColor": {{ colors.other.cursor | tojson }},
  "selectionBackground": {{ colors.other.selection | tojson }}
}
